/* common css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --logo-color: #0B0223;
    --white: #fff;
    --para-color: #534C64;
    --nav-color: #3C354F;
    --bg-color: rgba(11, 2, 35, 0.10);
    --linear-gradent: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear-gradent2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
}

/* header container css start */

.header-container{
    margin: 0;
    margin-bottom: 2rem;
}

.nav{
    background-color: var(--white);
    min-height: 130px;
}

.nav-container{
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-container .logo{
    width: 50%;
}

.nav-container .menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-para{
    color: var(--logo-color);
    font-size: 2.9rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.logo-span{
    background: var(--linear-gradent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.follow-icon{
    background-color: var(--bg-color);
    padding: 1rem 2rem;
}

.nav-container .menu a{
    color: var(--nav-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.fa-youtube{
    color: #F61C0D;
    font-size: 24px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.fa-tiktok{
    color: rgba(8, 255, 249, 1);
    font-size: 24px;
}

/* banner section css start---- */

.banner-section{
    margin-top: 1rem;
}

.banner-container{
    max-width: 1240px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 50%;
    text-align: start;
    background-color: rgba(241, 68, 174, 0.6) 100%;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
}


.banner-content h1{
    font-size: 3rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.banner-content p{
    font-size: 6rem;
    background: var(--linear-gradent2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;

}

.banner-content li{
    color:var(--para-color);
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: 500;
}

.banner-content .button{
   margin-top: 2rem;
}

.banner-content .button .btn-primary{
  background: var(--linear-gradent);
  padding: 1.25rem 2.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  margin-right: 1rem;
}

.banner-content .button .btn-blue{
  background-color: #4EC5F7;
  padding: 1.25rem 2.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  margin-left: 1rem;
}




.image-content{
    width: 50%;
}

.image-content img{
    max-width: 100%;
}

/* main section css */

.funny-continer{
    /* border: 5px solid red; */
    text-align: center;
    max-width: 1240px;
    margin: 1rem auto;
}

.funy-img{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.9rem;
}

.funy-img .card{
    margin: 0.2rem auto;
}

.funy-img img{
    max-width: 100%;
}

.funy-img p{
    font-size: 1rem;
    text-align: justify;
    color: var(--para-color);
    font-weight: 500;
    max-width: 300px;
    margin-top: 1rem;
}


/* ---play game section css------ */

.play-games-section{
    max-width: 1240px;
    margin: 1rem auto;
}

.play-continer{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.play-continer .play-content{
    max-width: 341px;
}

.playclr-heading{
    text-align: end;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.playclr-heading span{
    background: var(--linear-gradent2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-content p{
    font-size: 1.1rem;
    color: var(--para-color);
}



.small-img{
    max-width: 200px;
}

.small-img img{
    position: relative;
    bottom: 200px;
    left: -100px;
}



.play-continer .play-img img{
    width: 100%;
}

/* ---game item css start---- */

.game-section{
    margin-top: 1rem;
    padding-bottom: 3rem;
}

.game-content{
    max-width: 1240px;
    margin: 1rem auto;
}

/* .game-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
} */

.game-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-img a{
    font-size: 1.25rem;
    color: var(--logo-color);
    transition: 0.1s ease-in-out;
}




.game-img li:hover a{
    background: #fff;
    color: #FF42A5;
    border: 2px solid #FF42A5;
    padding: 1rem;
    border-radius: 50px;
    
}

.mobile{
    display: none;
}




.game-img img{
    display: inline-block;
    position: relative;
    bottom: -1.4rem;
    margin-right: 10px;
}

/* Footer Css start here */

footer{
    background-color: var(--logo-color);
}

.footer-container{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
}

.footer-logo .logo-para{
    color: var(--white);
}

.content{
    padding-top: 1rem;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content li{
    font-size: 18px;
    padding: 1rem 2rem;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon li{
    padding: 1rem 2rem;
}

.social-icon fa-brands{

}





/* Resonsive css */

@media screen and (max-width: 576px) {
    .nav-container,
    .nav-container .menu{
       flex-direction: column;
    }
    
    .logo{
        justify-content: center;
        width: 100%;
    }

    .nav-container .menu{
        width: 100%;
    }

    .nav-container .menu li{
        margin-top: 2rem;
    }

    .follow-icon{
        display: flex;
        
    }

    /* Banner section css */

    .banner-container{
       flex-direction: column-reverse;
    }

    .banner-content{
        width: 100%;
        text-align: center;
    }

    
.image-content{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* funny section css */


.funy-img{
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
}

.funy-img .card{
    text-align: center;
    margin: 0.2rem auto;
}

.funy-img p{
    font-size: 0.6rem;
    text-align: center;
    color: var(--para-color);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* play section  */

.play-continer {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem auto;
    gap: 1px;
}

.play-continer .play-content {
    max-width: 300px;
    margin: 1rem auto;
}

.playclr-heading{
    font-size: 2.3rem;
}


.play-continer .play-img{
    max-width: 70%;
    margin: 1rem auto;
}



.play-continer .play-img .small-img img {
    width: 50%;
}

.small-img img {
    position: relative;
    bottom: 89px;
    left: -100px;
}


/* game section resposive css */




.laptop{
    display: none;
}

.mobile{
    display: block;
}
.game-img{
  gap: 5px;
  min-height: 50px;
}

.game-img a{
    font-size: 10px;
    color: var(--logo-color);
    transition: 0.1s ease-in-out;
}





.game-img img{
    width: 30px;
    height: 30px;
    bottom: -0.8rem;
    margin-right: 2px;
}

/* .one{
    grid-column: span 3
}

.two{
    grid-column: span 3 
}

.three{
    grid-column: span 3 
}

.four{
    grid-column: span 3 
}
.five {
    grid-column: span 3 
}

.six{
    margin-left: 0rem;
    grid-column: span 3;
}

.seven{
    grid-column: span 3
}

.eight{
    grid-column: span 3
}

.nine{
    grid-column: span 3
} */
    





          
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container,
    .nav-container .menu{
       flex-direction: column;
    }

    .nav-container .menu li{
        margin-top: 3rem;
    }

    .banner-container{
        flex-direction: column-reverse;
     }
 
     .banner-content{
         width: 100%;
         text-align: center;
     }
 
     
 .image-content{
     width: 100%;
     padding-top: 5rem;
     padding-bottom: 5rem;
 }

 .image-content img{
    margin-left: 2rem;
    margin-right: 2rem;
}

/* funny section css */


.funy-img{
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

.funy-img .card{
    text-align: center;
    margin: 0.2rem auto;
}

.funy-img p{
    text-align: start;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* play section  */

.play-continer {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
    gap: 1px;
}

.play-continer .play-content {
    max-width: 300px;
    margin: 1rem auto;
}

.playclr-heading{
    font-size: 2.3rem;
}


.play-continer .play-img{
    max-width: 90%;
    margin: 1rem auto;
}


.play-continer .play-img .small-img img {
    width: 50%;
}

.small-img img {
    position: relative;
    bottom: 89px;
    left: -100px;
}

.game-img{
    grid-template-columns: repeat(8, 1fr);
}

.game-img a{
    font-size: 13px;
    
}

.game-img img{
    width: 30px;
    height: 30px;
    bottom: -1rem;
}

.one{
    grid-column: span 2
}

.two{
    grid-column: span 2 
}

.three{
    grid-column: span 2 
}

.four{
    grid-column: span 2 
}
.five {
    margin-left: 2rem;
    grid-column: span 3 
}

.six{
    margin-left: 0rem;
    grid-column: span 2;
}

.seven{
    margin-right: 2rem;
    grid-column: span 3
}

.eight{
    margin: auto;
    grid-column: span 3
}

.nine{
    grid-column: span 3
}
    

}













