/* common css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --logo-color: #0B0223;
    --white: #fff;
    --para-color: #534C64;
    --nav-color: #3C354F;
    --bg-color: rgba(11, 2, 35, 0.10);
    --linear-gradent: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear-gradent2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
}

/* header container css start */

.header-container{
    margin: 0;
    margin-bottom: 2rem;
}

.nav{
    background-color: var(--white);
    min-height: 130px;
}

.nav-container{
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-container .logo{
    width: 50%;
}

.nav-container .menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-para{
    color: var(--logo-color);
    font-size: 2.9rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.logo-span{
    background: var(--linear-gradent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.follow-icon{
    background-color: var(--bg-color);
    padding: 1rem 2rem;
}

.nav-container .menu a{
    color: var(--nav-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.fa-youtube{
    color: #F61C0D;
    font-size: 24px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.fa-tiktok{
    color: rgba(8, 255, 249, 1);
    font-size: 24px;
}

/* banner section css start---- */

.banner-section{
    margin-top: 1rem;
    border: 5px solid green;
}

.banner-container{
    max-width: 1240px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 50%;
    text-align: start;
}


.banner-content h1{
    font-size: 3rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.banner-content p{
    font-size: 6rem;
    background: var(--linear-gradent2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;

}

.banner-content li{
    color:var(--para-color);
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: 500;
}

.banner-content .button{
   margin-top: 2rem;
}

.banner-content .button .btn-primary{
  background: var(--linear-gradent);
  padding: 1.25rem 2.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  margin-right: 1rem;
}

.banner-content .button .btn-blue{
  background-color: #4EC5F7;
  padding: 1.25rem 2.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 48px;
  margin-left: 1rem;
}




.image-content{
    width: 50%;
}

.image-content img{
    max-width: 100%;
}

/* Resonsive css */

@media screen and (max-width: 576px) {
    .nav-container,
    .nav-container .menu{
       flex-direction: column;
    }
    
    .logo{
        justify-content: center;
        width: 100%;
    }

    .nav-container .menu{
        width: 100%;
    }

    .nav-container .menu li{
        margin-top: 2rem;
    }

    .follow-icon{
        display: flex;
        
    }

    .banner-container{
       flex-direction: column-reverse;
    }

    .banner-content{
        width: 100%;
        text-align: center;
    }

    
.image-content{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}




          
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container,
    .nav-container .menu{
       flex-direction: column;
    }

    .nav-container .menu li{
        margin-top: 3rem;
    }

}













